<ngx-masonry [options]="masonryOptions">
  <mat-card ngxMasonryItem  [ngStyle]="{
    width: item.isExpand ? '100%' : '300px'
  }"
  *ngFor="let item of dataItems"
  >
    <mat-card-header>
      <mat-card-title>
        <span>Actions Buttons</span>
        <button mat-stroked-button (click)="onExpand(item)">
          expand
        </button>
      </mat-card-title>
      <mat-card-subtitle>End</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div id="chart-line-{{item.item}}"></div>
    </mat-card-content>
  </mat-card>
</ngx-masonry>


<div class="other-chart">
  <div id="chart-gauge"></div>
  <div id="chart-pie"></div>
  <div id="chart-column"></div>
</div>
